body{
    margin: 0;
    background-color: #021526 !important;

}
.base{
    width: 100%;
    filter: blinds(10%);
}
.box-right{
    background-color: #6EACDA;
}
.form-check{
    background-color: #E2E2B6;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}
